<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DataEntities" connectionString="metadata=res://*/DataModel.DataEntities.csdl|res://*/DataModel.DataEntities.ssdl|res://*/DataModel.DataEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=U\SQLSERVER;initial catalog=JohanCorner;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>