<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DbClassesNamespace" value="CommonClasses.DbClasses"/>
    <add key="DbRepositoryNamespace" value="DbLayer.Repositories"/>
    <add key="ImplicitNamespace" value="DbLayer"/>
    <add key="DbModelNamespace" value="DbLayer.DataModel"/>
    <add key="ServiceProxyNamespace" value="ServiceProxy"/>
    <add key="DbContextName" value="Context"/>
    <add key="DbRepositoryIsPartialClass" value="true"/>
    <add key="UseInterfacesForDbClasses" value="true"/>
    <add key="DbInterfacesNamespace" value="Interfaces.DbInterfaces"/>
    <add key="FilteredContextNamespace" value="DbLayer.DataContext"/>
    <add key="FilteringField" value="InstanceId"/>
    <add key="DataContextName" value="AASEntities"/>
    <add key="DatabaseLogging" value="true"/>
    <add key="NoLogTables" value="Companies,UserCompanyUsage,Users,TemporaryCodes"/>
    <add key="ProjectDir" value="..\..\..\..\"/>
    <add key="CommonClassesDir" value="CommonClasses"/>
    <add key="DbClassesDir" value="DbClasses"/>
    <add key="CommonClassesProjectFileName" value="CommonClasses.csproj"/>
    <add key="InterfacesDir" value="Interfaces"/>
    <add key="DbInterfacesDir" value="DbInterfaces"/>
    <add key="InterfacesProjectFileName" value="Interfaces.csproj"/>
    <add key="DbRepositoryDir" value="DbRepository"/>
    <add key="RepositoriesDir" value="Repositories"/>
    <add key="DbRepositoryProjectFileName" value="DbRepository.csproj"/>
    <add key="ConversionsFileName" value="DataModel\Conversions.cs"/>
    <add key="ImplicitsFileName" value="DataModel\Implicits.cs"/>
    <add key="FilteredContextAutoMethodsFileName" value="DataContext\FilteredContextAutoMethods.cs"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0.1"/></startup></configuration>
