<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DbClassesNamespace" value="CommonClasses.DbClasses"/>
    <add key="DbRepositoryNamespace" value="DbLayer.Repositories"/>
    <add key="ImplicitNamespace" value="DbLayer"/>
    <add key="DbModelNamespace" value="DbLayer.DataModel"/>
    <add key="ServiceProxyNamespace" value="ServiceProxy"/>
    <add key="DbContextName" value="Context"/>
    <add key="DbRepositoryIsPartialClass" value="true"/>
    <add key="UseInterfacesForDbClasses" value="true"/>
    <add key="DbInterfacesNamespace" value="Interfaces.DbInterfaces"/>
    <add key="FilteredContextNamespace" value="DbLayer.DataContext"/>
    <add key="FilteringField" value="InstanceId"/>
    <add key="DataContextName" value="AASEntities"/>
    <add key="DatabaseLogging" value="true"/>
    <add key="NoLogTables" value="Companies,UserCompanyUsage"/>
  </appSettings>
</configuration>